<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>login and signUp page</title>
</head>

<body>
    <!-- Navbar or the website -->
    {{>header}}

    <h1>Hello from Prince Goyal with hbs {{username}}</h1>
    <p>
        You are given an array <em>A </em>of integers. For each index,&nbsp;<em>i </em>in<em> [1, n]</em>, let's denote the subarray from index <em>1</em> to index <em>i</em> (inclusive) by <em>S<sub>i </sub>.</em>You can choose at most <em>10</em> integers from this subarray. For each <em>i, </em>you must choose the integers such that the sum of elements is&nbsp;maximized, and also in another way such that it is minimized.
    </p>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>