<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>login and signUp page</title>
</head>

<body>
    <!-- Navbar or the website -->
   {{>header}}



    <h1 class="text-center">Hello from Signup page</h1>
    <!-- signup form -->
    <div class="w-75 mx-auto ">

        <form method="post" action="/register">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First name</label>
                    <input type="text" class="form-control" id="inputFirstName" name="firstname" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last name</label>
                    <input type="text" class="form-control" id="inputLastName" name="lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword">Password</label>
                    <input type="text" class="form-control" id="inputPassword" name="password">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputConfirmPassword">Confirm password</label>
                    <input type="text" class="form-control" id="inputConfirmPassword" name="confirmpassword">
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>